<LinkTo @route="cart" class="cart-link">
    <i class="fa fa-shopping-cart"></i>
</LinkTo>
    <LinkTo @route="item" @model="1">Product 1</LinkTo>
    <LinkTo @route="item" @model="2">Product 2</LinkTo>
<main class="container mt-5">
    {{yield}}
</main>
