<div class="product-details">

    {{!== Header ==}}
    <section>
        <h3>Beats Solo Wireless Red</h3>
        <div class="text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
    </section>

    {{!-- Price --}}
    <section>
        <del class="small text-black-50">199.95€</del>
        <i class="text-danger font-weight-bold">129.99€</i>
    </section>

    <div>
        <h5>Color</h5>
        <div class="product-colors active-{{@color}}">
            <span class="product-color color-red"
            {{on "click" (fn @onChangeColor "red")}}></span>
            <span class="product-color color-black"
            {{on "click" (fn @onChangeColor "black")}}></span>
            <span class="product-color color-yellow"
            {{on "click" (fn @onChangeColor "yellow")}}></span>
        </div>
    </div>

</div>
