{{page-title "Ember Store"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!--
<WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<LinkTo @route="index">
    <h1 class="text-dark">My Store</h1>
</LinkTo>
{{outlet}}
