{{page-title "Item"}}
<GeneralContainer>
    <h3>Product {{this.model}}</h3>
    <div class="product item-details-page">
        <Product::Image @src={{this.productImage}} @alt={{this.productImageAlt}} />
        <Product::Details @color={{this.color}} @onChangeColor={{this.onChangeColor}}/>
    </div>
    <h5 class="mt-5">Features</h5>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae architecto, laudantium odit quae dolore maiores aperiam magni provident facere aspernatur!</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ratione.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati soluta voluptas perspiciatis assumenda quis? Corrupti molestiae quod accusamus magnam nobis sint similique maiores non atque?</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error blanditiis maiores!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam atque alias tenetur neque quo magnam repellendus tempora autem iure architecto beatae, velit consequuntur est molestias voluptatem dolore natus pariatur recusandae!</li>
    </ul>
</GeneralContainer>
